@font-face
{
    font-family: 'devonshir';
    src: url('../fonts/devonshir/devonshire-regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Typo_Comics';
    src: url('../fonts/Typo_Comics/typo_comics_demo.otf');
}
@font-face
{
    font-family: 'segoeprb';
    src: url('../fonts/segoeprb.ttf') format('truetype');
}
body
{
    background-color: #fcdfdb;    
}
header
{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: #579c87;
    color: #fdcb46;
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Firasans-Bold';
}

.img_logo_omf
{
    width: 25vh;
    height: auto;
}

a
{
    text-decoration: none;
}
.a_footer
{
    color: #fdcb46;
}

footer
{
    display: flex;
    justify-content:space-around;
    position: fixed;
    bottom: 0px;
    background-color: #579c87;
    color: #fdcb46;
    font-family: 'NoyhRW01-SemiLight';
    width:100%;        
}

.img_music
{
    width: 10%;
    height: 10%;
    display: block;    
}

.titre_menu1
{
    font-family: 'devonshir';
    font-size: 3vw;
}
.section_menu
{
    display: inline-flex; 
    justify-content:center;
    flex-direction: row;
    align-items: center;
    overflow:hidden;        
    margin-top: 20px;
}
.titre_entree
{
    width: 20vw;
    font-family: 'Typo_Comics';
    font-size: 2vw;
}
.animation_souligne
{    
    border: solid 1px;
    visibility: hidden;
    margin-left: 30px;    
}
.titre_entree:hover div
{    
    animation: souligne;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

article
{               
    padding: 0px;
    font-family: 'segoeprb';    
}

table
{    
    width: 50vw;    
    font-family: 'segoeprb';    
}
tr
{
    text-align: left;
    vertical-align: bottom;
    
}
.td_plat
{    
    text-align: left;
    vertical-align: top;    
    
}
.td_prix
{
    width: auto;
    text-align: right;
    vertical-align: bottom;
    padding: 15px;    
}

.effet_wiggle:hover
{
    animation: wiggle 500ms;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes souligne
{
    0% 
    {
        width: 5vw;
        transform: translateX(-500%);        
        visibility: visible;        
    }
    
    100% 
    {                       
        width: 5vw;
        transform: scaleX(5);        
        visibility: visible;
    }
}

@media all and (max-device-width: 480px) /* Règles CSS pour les mobiles */
{
    .img_menu1
    {
        width: 15%;
        height: auto;
    }
    
    article
    {               
        font-size: 2vw;
        padding: 0px;
        font-family: 'segoeprb';    
    }
    
    footer
    {
        font-size: 2vw;
    }
}

@media screen and (max-height: 1000px) and (max-width: 1000px) /* Règles CSS petites fenetres */
{
    .img_menu1
    {
        width: 15%;
        height: auto;
    }

    article
    {               
        font-size: 2vw;
        padding: 0px;
        font-family: 'segoeprb';    
    }

    footer
    {
        font-size: 2vw;
    }

}