body
{
    background-color: #fff5fe;
}
header
{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: #579c87;
    color: #fdcb46;    
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Firasans-Bold';
    text-align: center;
}
section
{
    width: auto;
    height: auto;    
    text-align: center;
}

article
{
    display:flex;
    justify-content: center;   
    flex-direction: row;
    text-align: center;    
}

.img_logo_omf
{
    width: 225px;
    height: auto;
    align-self: center;
}

a
{
    text-decoration: none;
}
.a_footer
{
    color: #fdcb46;
}

footer
{
    display: flex;
    justify-content:space-around;
    position: fixed;
    bottom: 0px;    
    background-color: #579c87;
    color: #fdcb46;
    font-family: 'NoyhRW01-SemiLight';
    width:100%;        
}

.titre_menu2
{
    font-family: 'Croissant One', cursive;
    font-size: xx-large;    
    -webkit-text-fill-color: transparent;    
    background: -webkit-linear-gradient(300deg,#D8852E, #915DFC);    
    -webkit-background-clip: text;
    text-align: center;
}
.section_menu
{
    display: inline-flex; 
    justify-content:center;
    flex-direction: row;
    align-items: center;  
    text-align: center;
}

.titre_entree_1 {
    position: relative;
    font-family: 'Merriweather';    
    color:red;    
}

.titre_entree_1::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 0.1em;    
    transition: 2s;
}

.titre_entree_1:hover::before 
{    
    width: 100%;
    background-color: red;
}

.titre_entree_2 {
    position: relative;
    font-family: 'Merriweather';    
    color:#a56799;
    width: 50%;
}

.titre_entree_2::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 0.1em;    
    transition: 2s;
}

.titre_entree_2:hover::before 
{    
    width: 100%;
    background-color: #a56799;
}

.titre_entree_3 {
    position: relative;
    font-family: 'Merriweather';    
    color: #6e4ccc;
}

.titre_entree_3::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 0.1em;    
    transition: 2s;
}

.titre_entree_3:hover::before 
{    
    width: 100%;
    background-color: #6e4ccc;
}

.table_menu_1
{        
    font-family: 'Merriweather';
    color: red;     
}
.table_menu_2
{           
    font-family: 'Merriweather';
    color: #a56799;    
}
.table_menu_3
{          
    font-family: 'Merriweather';
    color: #6e4ccc;     
}

tr
{
    text-align: left;    
    vertical-align: bottom;
    
}
.td_plat
{    
    text-align: left;
    vertical-align: top;
    padding-bottom: 15px;    
}
.td_prix
{    
    text-align: right;
    vertical-align: top;
    padding: 15px;    
}

.effet_wiggle:hover
{
    animation: wiggle 500ms;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@media all and (max-width: 480px) /* Règles CSS pour les mobiles */
{
 
    .img_menu2
    {
        width: 15%;
        height: auto;
    }
        
    .titre_entree_1, .titre_entree_2, .titre_entree_3
    {
        font-size: 50%;
        width: 200px;
    }
    
}
@media screen and (max-width: 800) /* Règles CSS petites fenetres */
{

    .img_menu2
    {
        width: 15%;
        height: auto;
    }


    .titre_entree_1, .titre_entree_2, .titre_entree_3
    {
        font-size: 75%;
        width: 300px;
    }

}

@media screen and (max-width: 1024px) /* Règles CSS petites fenetres */
{

    .img_menu2
    {
        width: 15%;
        height: auto;
    }


    .titre_entree_1, .titre_entree_2, .titre_entree_3
    {
        font-size: 125%;
        width: 400px;
    }

}

@media screen and (min-width: 1600px) /* Règles CSS petites fenetres */
{   

    .titre_entree_1, .titre_entree_2, .titre_entree_3
    {
        font-size: 200%;
        width: 600px;
    }
    
    .td_prix
    {
        text-align: left;
        width: 30%;
    }
    .td_plat
    {
        width:70%;
    }
}