@font-face
{
    font-family: 'FiraSans-Bold';
    src: url('../fonts/fira_sans/FiraSans-Bold.otf');    
}
@font-face
{
    font-family: 'devonshir';
    src: url('../fonts/devonshir/devonshire-regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'segoeprb';
    src: url('../fonts/segoeprb.ttf') format('truetype');
}
@font-face
{
    font-family: 'candida';
    src: url('../fonts/CandidaStd-Bold.otf');
}
@font-face
{
    font-family: 'verao';
    src: url('../fonts/verao/Verao-Regular.otf');
}
@font-face
{
    font-family: 'kaushan';
    src: url('../fonts/KaushanScript-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: "NoyhRW01-SemiLight"; 
    src: url("//db.onlinewebfonts.com/t/2ece2ca570f9b741d03cd6305ce9f8d5.eot"); src: url("//db.onlinewebfonts.com/t/2ece2ca570f9b741d03cd6305ce9f8d5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2ece2ca570f9b741d03cd6305ce9f8d5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2ece2ca570f9b741d03cd6305ce9f8d5.woff") format("woff"), url("//db.onlinewebfonts.com/t/2ece2ca570f9b741d03cd6305ce9f8d5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2ece2ca570f9b741d03cd6305ce9f8d5.svg#NoyhRW01-SemiLight") format("svg"); 
}

header
{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: #579c87;
    color: #fdcb46;
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Firasans-Bold';
}

footer
{
    display: flex;
    justify-content:space-around;
    position: fixed;
    bottom: 0px;
    background-color: #579c87;
    color: #fdcb46;
    font-family: 'NoyhRW01-SemiLight';
    width:100%;        
}
a
{
    text-decoration: none;    
}

.conteneur_flexbox
{
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    margin-top: 50px;  
    width: 800px;
}
.img_logo_omf
{
    width: 25vh;
    height: auto;
}
    .img_music
{
    width: 30%;
    height: 30%;
    display: block;    
}
.section1
{
    width: 300px;
    height: 400px;
    background-color: #fcdfdb;
    box-shadow: 1px 1px 12px #555;
}
.titre1
{
    color:black;
}
.titre_segoe
{
    display: block;
    font-family: 'segoeprb';
    font-size: large;
    color:black;
}
.titre_segoe_blue
{
    display: block;
    font-family: 'segoeprb';
    font-size: x-large;
    color: #0887fb;
}
.titre_segoe_green
{
    display: block;
    font-family: 'segoeprb';
    font-size: x-large;
    color: #72bf56;
}
.menu1
{
    margin-top: 130px;
    font-family: 'devonshir';
    font-size: x-large;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
}
.menu1:hover
{
    transform: scale(1.75);
    animation: text_opacity 1500ms linear forwards;
}

.section2
{
    width: 300px;
    height: 400px;
    background-color: #fff5fe;
    box-shadow: 1px 1px 12px #555;
}
.menu2
{
    margin-top: 170px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
}
.menu2:hover
{
    transform: scale(1.40);
    animation: text_opacity 1500ms linear forwards;
}
.titre_chic
{
    font-family: 'Croissant One', cursive;
    font-size: large;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(300deg,#D8852E, #915DFC);
    -webkit-background-clip: text;    
}
.titre_candida
{
    color:#c77412;
    display: block;
    font-family: 'candida';
    font-size: x-large;
}
.titre_verao
{    
    font-family: 'verao';
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left ,#0229dd,#0887fb);
    -webkit-background-clip: text;
}
.section3
{    
    width: 300px;
    height: 400px;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 12px #555;
}
.menu3
{
    margin-top: 150px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
}
.menu3:hover
{
    transform: scale(1.40);
    animation: text_opacity 1500ms linear forwards;
}
.section4
{
    width: 300px;
    height: 400px;
    background-color: #fdfffd;
    box-shadow: 1px 1px 12px #555;
}
.titre4
{
    -webkit-text-fill-color: transparent;
    font-family: 'kaushan';
    font-size: x-large;
    background: -webkit-linear-gradient(left,#3D9339, #BFFF7E);
    -webkit-background-clip: text;
}
.menu4
{
    margin-top: 170px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    opacity: 0.8;
}
.menu4:hover
{
    transform: scale(1.40);
    animation: text_opacity 1500ms linear forwards;
}

bloc_flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.prochainement
{
    display: inline-flex;
    flex-direction: row; 
    justify-content:center; 
    background-color: #579c87;    
    color: #fdcb46;
    font-family: 'NoyhRW01-SemiLight';
    width: 275px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.prochainement span
{
    animation-name: clignote;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both    
}
.prochainement span:nth-child(2) {
    animation-delay: .2s;
}
.prochainement span:nth-child(3) {
    animation-delay: .4s;
}

.effet_wiggle:hover
{
    animation: wiggle 500ms;
    animation-iteration-count: infinite;
}


@keyframes clignote
{
    0% {
        opacity: .2; 
    }
    20% {
        opacity: 1;
    }  
    100% {
        opacity: .2;
    }  
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes text_opacity {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

