header
{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: #579c87;
    color: #fdcb46;
    height: 150px;
    margin-bottom: 50px;
}

footer
{
    display: flex;
    justify-content:space-around;
    position: fixed;
    bottom: 0px;
    background-color: #579c87;
    color: #fdcb46;    
    width:100%;        
}

.conteneur_flexbox
{
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    margin-top: 50px;  
}

.menu1
{
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.menu2
{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.menu3
{
    width: 200px;
    height: 200px;
    background-color: green;
}

.menu4
{
    width: 200px;
    height: 200px;
    background-color: chocolate;
}


.section_prochainement
{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: #579c87;
    color: #fdcb46;
    width: 275px;
    height: 70px;    
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.effet_wiggle:hover
{
    animation: wiggle 500ms;
    animation-iteration-count: infinite;
}
@keyframes wiggle {
/*  0% { transform: translate(1px, 1px) rotate(2deg); }
  20% { transform: translate(0px, 0px) rotate(-2deg); }
  40% { transform: translate(-1px, -1px) rotate(2deg); }
  60% { transform: translate(0px, 0px) rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(2deg); }
  100% { transform: translate(0px, 0px) rotate(-2deg); }
*/
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}